.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards .card {
  border: 1px solid #dadada;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.cards .card picture img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards .card [data-aue-prop="text"] {
  margin: 16px;
}
