.teaserntt {
  border: 1px solid #dadada;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.teaserntt picture img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.teaserntt [data-aue-prop="text"] {
  margin: 16px;
}
